<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Eat That Burger!</title>
        <link rel="stylesheet" href="">
        {{!-- Materialize --}}
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        {{!-- Custom CSS --}}
        <link rel="stylesheet" href="/css/burger_style.css">

        {{!-- Materialize --}}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        {{!-- Custom JS  --}}
        <script src="/js/lib.js"></script>

    </head>

    <body>

        {{{ body }}}

    </body>
</html>