{{!-- Setup the index.handlebars to have the template that Handlebars can render onto.

Create a button in index.handlebars that will submit the user input into the database. --}}



<div class="container">

    <div class="burger-box-top">
            <div class="bread-top"></div>
            <div class="salad"></div>
    </div>

    <div class="row">
        <div class="col s6 uneaten-burgers-container">
            <h3>Burgers to Eat</h3>

            <ul>
                {{#each burgers}}
                    <li class="uneaten-burgers">
                        {{#unless devoured}}
                            <div class="row">
                                <div class="col s7">
                                    <h6>{{this.burger_name}}</h6>
                                </div>
                                <div class= "col s5">
                                    {{> burgers/burger-block devoured=false}}
                                </div>
                            </div>
                        {{/unless}}
                    </li>
                {{/each}}
            </ul>

        </div>

        <div class="col s5 devoured-burgers-container">
            <h3>Devoured Burgers</h3>

            <ul>
                {{#each burgers}}
                    {{#if devoured}}
                        <li class="devoured-burger">
                            <div class="row">
                                <div class="col s7">
                                    <h6>{{this.burger_name}}</h6>
                                </div>
                                <div class="col s5">
                                    {{> burgers/burger-block devoured=true}}
                                </div>
                            </div>
                        </li>
                    {{/if}}
                {{/each}}
            </ul>

        </div>
    </div>

    <div class="burger-box-bottom">
        <div class="salad-bottom"></div>
        <div class="bread-bottom"></div>
    </div>

    <div class="add-burger-container">
        <h3>Add a Burger</h3>

        <div class="row">
            <form class="create-burger" method="POST">
                <label for="bname">Burger Name:</label>
                <input type="text" id="bname" name="bname">
                <button type="submit">Add Burger</button>
            </form>
        </div>
    </div>


</div>

