
{{!-- if the burger is not devoured, include the buttons; otherwise don't --}}
{{#unless devoured}}
<button class="devour" data-id="{{this.id}}"><i class="fas fa-cookie-bite"></i> DEVOUR!</button>

<button class="delete-burger" data-id="{{this.id}}"><i class="fas fa-trash-alt"></i></button>
{{/unless}}
{{#if devoured}}
<button class="make-again" data-id="{{this.id}}">Regurgitate</button>
{{/if}}