
<li>
    {{name}}
    {{!-- if the burger is not devoured, include the buttons; otherwise don't --}}
    {{#unless devoured}}
    <button class="devour" data-id="{{id}}">DEVOUR!</button>

    <button class="delete-burger" data-id="{{this.id}}">DELETE :(</button>
    {{/unless}}
</li>

